

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 30px;
    width: 450px;
    height: 350px;
    display: flex;
    flex-direction: column;
  }
  .modal-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    letter-spacing: 1px;
  }
  .modal-title .close{
    font-size: 1.5rem;
    color: #1058B8;
  }
  .modal-title h2{
    font-size: 20px;
    letter-spacing: 1px;
    color: #3A474D;
    font-family: 'satoshi',sans-serif;
  }
  
  .modal-content form {
    display: flex;
    flex-direction: column;
  }
  
  .modal-content input {
    margin: 5px 0;
    padding: 10px;
    color: rgba(128, 128, 128, 0.034);
    border-radius: 20px;
    border: 1px solid rgba(128, 128, 128, 0.493);
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'satoshi',sans-serif;
  }
  .modal-content input:focus{
    outline: 1px solid #146fe667;
  }
  .modal-content .submit{
    display: flex;
    justify-content: center;
  }
  .modal-content button {
    margin-top: 10px;
    width: fit-content;
  }
  