.hero-container{
    width: calc(100% - 280px);
    height: 100%;
    /* background-color: blue; */
}
.temp{
    width: 88%;
    height: 100%;
/* background-color: rgb(252, 185, 185); */
    margin: 0 auto;
    padding-top: 3rem;
    overflow-y: auto;
    scrollbar-width: none;
}


@media (min-width:1370px){
    .temp{
        width: 72%;
    }
}