.hero-container{
    width: calc(100% - 280px);
    height: 100%;
    position: relative;
    /* background-color: blue; */
}
.temp{
    width: 88%;
    height: 100%;
    margin: 0 auto;
    padding-top: 3rem;
    overflow-y: auto;
    scrollbar-width: none;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}


@media (min-width:1370px){
    .temp{
        width: 72%;
    }
}
@media (max-width:768px){
    .hero-container{
        width: 100%;
        padding: 0 .5rem;
    }
    .details{
        padding: 0;
    }
    .temp{
        width: 100%;
    }
}
@media (max-width:1024px){
    .hero-container{
        width: 100%;
    }
}