.buy-card{
    width: 400px;
    height: auto;
    border: 1px solid rgba(128, 128, 128, 0.534);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column; 

}



.buy-card .course-image img {
    width: 100%;
    height: auto; 
    object-fit: cover; 
}

.course-details {
    padding: 1rem; 
}

.course-details .title h3 {
    font-size: 1.1rem;
    line-height: 25px;
}

.course-details .pricing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    letter-spacing: 1.5px;
    font-weight: 600;
    margin-top: 3rem;
}

.price {
    display: flex;
    gap: 0.3rem;
}

.price .mrp {
    color: rgba(128, 128, 128, 0.76);
    text-decoration: line-through;
}

.course-details .green {
    color: #25c16f;
}

.course-details button {
    width: 100%;
    margin-top: 1rem; 
}


@media (max-width: 368px) {
    .buy-card {
       width: 100%;
        height: auto;
    }

    .buy-card .course-image img {
        width: 100%;
        height: auto;
    }
}
