.crousel-container{
    width: 100%;
    height: 530px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin-bottom: 5rem;
}

.crousel-container img{
    width: 100%;
    height: 100%;
}

@media (min-width:1370px){
    .crousel-container{

        height: 630px;
    }
}
