.coursecard{
    width: 300px;
    height: 400px;
    /* background-color: green; */
    border: 1px solid rgba(128, 128, 128, 0.534);
    border-radius: 20px;
    overflow: hidden;

}
.coursecard .course-image img{
    width: 100%;
    height: 100%;
}
.course-details{
    padding: 1rem;
}
.course-details .title h3{
    font-size: 1.1rem;
    line-height: 25px;

}
.course-details .pricing{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    justify-content: space-between;
    font-size: 1rem;
    letter-spacing: 1.5px;
    font-weight: 600;
    margin-top: 3rem;
}
.price{
    display: flex;
    gap: .3rem;
}
.price .mrp{
    color: rgba(128, 128, 128, 0.76);
    text-decoration: line-through;
}
.course-details .green{
    color: #25c16f;
}
.course-details button {
    width: 100%;
}
@media (min-width:1370px){
    .coursecard{
        width: 350px;
    }
}
@media (max-width:450px){
    .coursecard{
        width: 100%;
        height: auto;
    }
}
@media (max-width:768px){
    .coursecard{
        width: 350px;
        height: auto;
    }
}