@font-face {
    font-family: "satoshi";
    src: url('./fonts/Satoshi-Medium.otf');
    font-weight: normal;
}
body{
    font-family: 'satoshi', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    padding: .8rem 1.5rem;
    font-size: 1rem;
    background-color: #146FE6;
    border: none;
    color: white;
    border-radius: 5rem;
    transition: background-color .5s ease, transform .5s ease;
    cursor: pointer;
}

button:hover {
    background-color: #1058B7;
}
a{
    font-size: 14px;
}
p{
    font-size: 15px;
    letter-spacing: .04rem;
    color: #212529;
}
h3{
    font-size: 15px;
    letter-spacing: 1px;
    color: #212529;
}